https://www.kaggle.com/arashnic/hr-analytics-job-change-of-data-scientists/tasks?taskId=3015

In [1]:
import numpy as np
import pandas as pd

%matplotlib notebook
import matplotlib.pyplot as plt

from pandas_profiling import ProfileReport

In [2]:
train = pd.read_csv("data/aug_train.csv")

In [3]:
train.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [5]:
train.describe()

        enrollee_id  city_development_index  training_hours        target
count  19158.000000            19158.000000    19158.000000  19158.000000
mean   16875.358179                0.828848       65.366896      0.249348
std     9616.292592                0.123362       60.058462      0.432647
min        1.000000                0.448000        1.000000      0.000000
25%     8554.250000                0.740000       23.000000      0.000000
50%    16982.500000                0.903000       47.000000      0.000000
75%    25169.750000                0.920000       88.000000      0.000000
max    33380.000000                0.949000      336.000000      1.000000

In [6]:
train.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'target'],
      dtype='object')

In [7]:
profile = ProfileReport(train)

NameError: name 'pandas_profiling' is not defined

In [ ]:
#profile

In [ ]:
train = train.loc[:, train.columns[~ train.columns.str.contains("_id")]]

In [ ]:
train.head()

## NaN

In [ ]:
train.isnull().mean()

In [ ]:
train.columns

## city

In [ ]:
plt.figure()

train["city"].value_counts(normalize=True).plot(kind="barh")

plt.show()

we have high cardinality, so we might want to deal with this

In [ ]:
train["city"].value_counts(normalize=True).sort_values(ascending=False)[:10]

In [ ]:
most_freq_cities = train["city"].value_counts(normalize=True).sort_values(ascending=False)[:7].index.tolist()
most_freq_cities

In [ ]:
train.loc[~ train["city"].isin(most_freq_cities), :]

In [ ]:
train.loc[~train["city"].isin(most_freq_cities), :]

In [ ]:
train.loc[~train["city"].isin(most_freq_cities), "city"] = "other_city"

In [ ]:
train.loc[~train["city"].isin(most_freq_cities), :]

In [ ]:
plt.figure()

train["city"].value_counts(normalize=True).plot(kind="barh")

plt.title("city")

plt.ylabel("city_id")
plt.xlabel("percentage")
plt.subplots_adjust(bottom=0.1, left=0.2)

plt.show()

## city_development_index

In [ ]:
plt.figure()

train["city_development_index"].value_counts(normalize=True).plot(kind="barh")

plt.show()

In [ ]:
train.loc[~train["city"].isin(most_freq_cities), "city_development_index"].mean()

In [ ]:
train.loc[~train["city"].isin(most_freq_cities), "city_development_index"] = train.loc[~train["city"].isin(most_freq_cities), "city_development_index"].mean().round(3)

In [ ]:
plt.figure()

train["city_development_index"].hist()
plt.subplots_adjust(bottom=0.1, left=0.2)

plt.show()

In [ ]:
plt.figure()

train["city_development_index"].value_counts(normalize=True).sort_values().plot(kind="barh")
plt.subplots_adjust(bottom=0.1, left=0.1)

plt.show()

## gender

In [ ]:
plt.figure()

train["gender"].value_counts(normalize=True).plot(kind="barh")

plt.show()

## relevent_experience

In [ ]:
plt.figure()

train["relevent_experience"].value_counts(normalize=True).plot(kind="barh")
plt.subplots_adjust(bottom=0.1, left=0.3)


plt.show()

## enrolled_university

In [ ]:
plt.figure()

train["enrolled_university"].value_counts(normalize=True).plot(kind="barh")
plt.subplots_adjust(bottom=0.1, left=0.2)


plt.show()

## education_level

In [ ]:
plt.figure()

train["education_level"].value_counts(normalize=True).plot(kind="barh")
plt.subplots_adjust(bottom=0.1, left=0.2)


plt.show()

## major_discipline

In [ ]:
plt.figure()

train["major_discipline"].value_counts(normalize=True).plot(kind="barh")
plt.subplots_adjust(bottom=0.1, left=0.2)


plt.show()

## experience

In [ ]:
plt.figure()

train["experience"].value_counts(normalize=True).plot(kind="barh")

plt.show()

## company_size

In [ ]:
plt.figure()

train["company_size"].value_counts(normalize=True).plot(kind="barh")

plt.show()

## company_type

In [ ]:
plt.figure()

train["company_type"].value_counts(normalize=True).plot(kind="barh")
plt.subplots_adjust(bottom=0.1, left=0.3)


plt.show()

## last_new_job

In [ ]:
plt.figure()

train["last_new_job"].value_counts(normalize=True).plot(kind="barh")

plt.show()

## training_hours

In [ ]:
plt.figure()


train["training_hours"].hist().grid(False)



plt.show()

## target

In [ ]:
plt.figure()

train["target"].value_counts().plot.barh()

plt.show()

In [ ]:
report = ProfileReport(train)

In [ ]:
report

TODO: DROPAR CITY e RELEVANT_EXPERIENCE !